- name: Install Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Start and Enable Nginx
  service:
    name: nginx
    state: started
    enabled: yes

- name: Overwrite default Nginx site configuration
  copy:
    dest: /etc/nginx/sites-available/default
    content: |
      server {
        listen 80;
        server_name _;
        root /var/www/html;
        index index.html;
        location / {
        try_files $uri /index.html;
        }
        error_page 404 /index.html;
      }
    owner: root
    group: root
    mode: "0644"

- name: Restart Nginx to apply changes
  service:
    name: nginx
    state: restarted